body,
html,
img {
	margin: 0;
	padding: 0;
}
*{
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
footer {
	position: fixed;
	bottom: 0;
	height: 60px;
	width: 100%;
	background: #414042;
}

nav a {
	padding: 5px;
	float: left;
	width: 25%;
	margin: 0 auto;
}

nav a img {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto;
}

nav a span {
	margin-top: 2px;
	font-size: 14px;
	text-align: center;
	display: block;
	height: 14px;
	color: #9fa0a0;
}